{%- include vars.html -%}
<head>
  <meta charset="utf-8">
  <title>
    {%- if page.title -%}
      {{ page.title }} — {{ site_data.name }}
    {%- else -%}
      {{ site_data.name }}
    {%- endif -%}
  </title>

  <meta name="theme-color" content="#00897B">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include metadata.html %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {%- for lang in site.data.i18n.languages -%}
    {%- assign lang_data = site.data.i18n[lang] -%}
    {%- if language != lang %}
      {%- for tr in page.translations -%}
        {%- if lang == tr[0] %}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}{{ lang_data.prefix }}{{ tr[1] }}/">
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor %}

  <link rel="icon" href="{{ site.url }}/logo/png/solid-152x152.min.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium+Basic:400i|Raleway:300,400,400i,600|Roboto:300&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <script defer src="{{ site.url }}/js/materialize.js"></script>
  <script async src="{{ site.url }}/js/canonical.js"></script>
  <script async src="{{ site.url }}/js/scroll.js"></script>
  <script>
  {%- include js/analytics.js %}  </script>
  <script>
  {%- include js/facebook.js %}  </script>
  {%- if page.class == 'home' %}
  <script type="application/ld+json">
  {%- include js/ld.json %}  </script>
  {%- endif %}
  {%- if page.json_ld %}
  <script type="application/ld+json">{{ page.json_ld | jsonify }}</script>
  {%- endif %}
</head>
