<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} — {{ site.i18n[page.lang].name }}{% else %}{{ site.i18n[page.lang].name }}{% endif %}</title>

  <meta name="theme-color" content="#00897B">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include metadata.html %}

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  {% for lang in site.i18n %}
    {% if page.lang != lang[0] %}
      <link rel="alternate" hreflang="{{ lang[0] }}" href="{{ site.url }}{{ page.url | replace_first: site.i18n[page.lang].prefix, lang[1].prefix }}">
    {% endif %}
  {% endfor %}

  <link rel="icon" href="/logo/png/solid-152x152.min.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-green.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/canonical.js"></script>

  <script type="application/ld+json">{% include js/ld.json %}</script>

  <script>{% include js/analytics.js %}</script>
</head>
