{%- assign lang = page.lang | default: 'en' -%}
{%- assign site_data = site.data.i18n[lang] -%}
    <header class="mdl-color--cyan-200 hero">
      <div class="mdl-color-text--grey-800 languages">
        {%- for lang in site.data.i18n.languages -%}
          {%- assign lang_data = site.data.i18n[lang] -%}
          {%- if page.lang == lang %}
        <span>
          {{- lang_data.text -}}
        </span>
          {%- else -%}
            {%- for tr in page.translations -%}
              {%- if lang == tr[0] %}
        <a href="{{ site.url }}{{ lang_data.prefix }}{{ tr[1] }}/" class="mdl-color-text--blue-800">
          {{- lang_data.text -}}
        </a>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor %}
      </div>
      <h1>
        <span class="before">
          {{- site_data.name_parts[0] -}}
        </span>
        <img src="{{ site.url }}/logo/svg/circle.svg">
        <span class="after">
          {{- site_data.name_parts[1] -}}
        </span>
      </h1>
    </header>
