  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@korisalapitvany">
  <meta name="twitter:title" property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.i18n[page.lang].name }}{% endif %}">
  <meta name="twitter:description" proyerty="og:description" content="{% if page.description | markdownify | strip_html | strip_newlines %}{{ page.description }}{% else %}{{ site.i18n[page.lang].mission | markdownify | strip_html | strip_newlines }}{% endif %}">
  <meta name="twitter:image" property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://jasen.org.rs/logo/png/circle-576x576.min.png{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.i18n[page.lang].name }}">
  <meta proyerty="og:url" content="{{ site.url }}{{ page.url }}">
  {% for lang in site.i18n %}{% if page.lang == lang[0] %}<meta property="og:locale" content="{{ lang[0] }}_{{ lang[1].country_code }}">{% endif %}{% endfor %}
  {% for lang in site.i18n %}{% if page.lang != lang[0] %}<meta property="og:locale:alternate" content="{{ lang[0] }}_{{ lang[1].country_code }}">
  {% endif %}{% endfor %}
  <meta property="fb:admins" content="579724593">
  <meta property="fb:admins" content="1551815261">
