{%- assign lang = page.lang | default: 'en' -%}
{%- assign site_data = site.data.i18n[lang] -%}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@korisalapitvany">
  <meta name="twitter:title" property="og:title" content="
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site_data.name }}
    {%- endif %}">
  <meta name="twitter:description" proyerty="og:description" content="
    {%- if page.description -%}
      {{ page.description | markdownify | strip_html | strip_newlines }}
    {%- else -%}
      {{ site_data.mission | markdownify | strip_html | strip_newlines }}
    {%- endif %}">
  <meta name="twitter:image" property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://jasen.org.rs/logo/png/circle-576x576.min.png{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site_data.name }}">
  <meta proyerty="og:url" content="{{ site.url }}{{ page.url }}">

  {% for lang in site.data.i18n.languages -%}
    {%- assign lang_data = site.data.i18n[lang] -%}
    {%- if page.lang == lang -%}
  <meta property="og:locale" content="{{ lang }}_{{ lang_data.country_code }}">
    {%- endif -%}
  {%- endfor -%}
  {%- for lang in site.data.i18n.languages -%}
    {%- assign lang_data = site.data.i18n[lang] -%}
    {%- if page.lang != lang %}
      {%- for tr in page.translations -%}
        {%- if lang == tr[0] %}
  <meta property="og:locale:alternate" content="{{ lang }}_{{ lang_data.country_code }}">
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor %}

  <meta property="fb:admins" content="579724593">
  <meta property="fb:admins" content="1551815261">
