{%- include vars.html -%}
  <div class="projects">
  {%- for post in site.posts %}
    {%- assign post_year = post.date | date: "%Y" %}
    {%- assign post_year_filter = include.year | append: "" %}

    {%- if post.class == 'project' %}
    {%- if post.lang == language %}
    {%- if include.year == null or post_year == post_year_filter %}
    {%- if include.front_page != true or post.front_page == true %}
    <div class="card medium">
      <div class="card-image">
        <div class="image" style="background-image: url('/images/cover/{{ post.cover_image }}.jpg'); background-position-y: {{ post.cover_position | default: "center" }}"></div>
        <span class="card-title">{{ post.title }}</span>
      </div>
      <div class="card-content">
        {{ post.excerpt | markdownify | split: '</h1>' | last }}
      </div>
      <div class="card-action">
        {%- if post.event_date %}
          <span class="event-date">
            <i class="material-icons">event</i>
            <time>
              {{ post.event_date }}
            </time>
          </span>
        {%- endif %}
        <a class="btn btn-flat waves-effect waves-light" href="{{ post.url }}">
          {{- site_data.details -}}
        </a>
      </div>
    </div>
    {%- endif %}
    {%- endif %}
    {%- endif %}
    {%- endif %}
  {%- endfor %}
  </div>
