{%- include vars.html -%}
  <div class="project-cards">
  {%- for post in site.posts %}
    {% assign post_year = post.date | date: "%Y" %}
    {% assign post_year_filter = include.year | append: "" %}
    {%- if post.class == 'project'
        and post.lang == language
        and (include.year == null or post_year == post_year_filter)
        and (post.current or include.active_only == false) %}
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background-image: url('{{ post.cover_image }}');">
        <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">

{{ post.excerpt | markdownify | split: '</h1>' | last }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {%- if post.event_date %}
          <i class="material-icons">event</i>
          <time>
            {{ post.event_date }}
          </time>
        {%- endif %}
        <div class="mdl-layout-spacer"></div>
        <a href="{{ post.url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          {{- site_data.details -}}
        </a>
      </div>
    </div>
    {%- endif %}
  {%- endfor %}
  </div>
