{%- assign lang = page.lang | default: 'en' -%}
{%- assign site_data = site.data.i18n[lang] -%}
  <div class="project-cards">
  {%- for post in site.posts %}
    {%- if post.class == 'project' and post.lang == page.lang and (post.current or include.active_only == false) %}
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background-image: url('{{ post.cover_image }}');">
        <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">

{{ post.excerpt | split: '</h1>' | last }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        {%- if post.event_date %}
          <i class="material-icons">event</i>
          <time>
            {{ post.event_date }}
          </time>
        {%- endif %}
        <div class="mdl-layout-spacer"></div>
        <a href="{{ post.url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          {{- site_data.details -}}
        </a>
      </div>
    </div>
    {%- endif %}
  {%- endfor %}
  </div>
