.documents {
  ul {
    padding-left: 16px;

    li {
      margin-bottom: 4px;
      list-style-type: none;
      clear: both;

      &::before {
        $icon-size: 44px;

        content: "insert_drive_file";
        font-family: 'Material Icons';
        font-size: $icon-size;
        line-height: 1;
        display: block;
        float: left;
        width: $icon-size;
        height: $icon-size;
        font-feature-settings: 'liga';
        -moz-font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
      }
      p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        a {
          font-size: 16px;
        }
        + p {
          margin-top: -4px;
        }
      }
    }
  }
}
