/* Phone: */
header {
  text-align: center;

  &.hero {
    background: #fcf9c6 url(/images/hero/hero.svg) bottom / cover no-repeat;
    height: 320px;
  }

  .languages {
    @include limit-width;

    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 16px;

    span, a {
      text-decoration: none;
      margin-left: 8px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 100;
    margin-top: 80px;

    img {
      width: 74px;
      height: 74px; 
      position: relative;
      top: -4px;
    }
  }
}

/* Tablet: */
@media screen and (min-width: 760px) {
  header {

    &.hero {
      height: 480px;
    }

    h1 {
      font-size: 64px;
      margin-top: 120px;

      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}


/* Desktop: */
@media screen and (min-width: 1024px) {
  header {

    &.hero {
      height: 640px;
    }

    h1 {
      font-size: 96px;
      margin-top: 160px;

      img {
        width: 192px;
        height: 192px;
      }
    }
  }
}
