/* Phone: */
header {
  padding: 48px 0;
  text-align: center;

  h1 {
    font-size: 36px;
    font-weight: 100;

    img {
      width: 74px;
      height: 74px; 
      position: relative;
      top: -4px;
    }
  }
}

/* Tablet: */
@media screen and (min-width: 760px) {
  header {
    h1 {
      font-size: 64px;

      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}


/* Desktop: */
@media screen and (min-width: 1024px) {
  header {
    h1 {
      font-size: 96px;

      img {
        width: 192px;
        height: 192px;
      }
    }
  }
}
