/** ALL SCREENS **/
header.has-cover {
  $height: 452px;

  position: relative;
  background: transparent;

  .mdl-layout__header-row,
  .mdl-layout__tab-bar-container > * {
    background: transparent;

    &.is-active {
      /* Hide left/right buttons. */
      display: none;
    }
  }

  .clip {
    overflow: hidden;

    bottom: 0;
    height: 112px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      transition: 0.2s background-color cubic-bezier(0.4, 0, 0.2, 1);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .image {
    background-image: url('/images/content/saplings.jpg');
    background-size: cover;
    background-position: center;

    top: 0;
    height: $height;
  }

  .clip, .image {
    position: absolute;
    left: 0;
    width: 100vw;
  }

  &.is-casting-shadow {
    .clip {
      bottom: 0;

      &::after {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}

/** 0-1024px **/
@media screen and (max-width: 1024px) {
  header.has-cover {
    .clip {
      height: 112px;
    }

    .image {
      top: -16px;
    }
  }
}

/** 0-760px **/
@media screen and (max-width: 760px) {
}
