main.home .content {
  .team {
    padding: 0;
    margin: 0 -24px;
    width: calc(100% + 48px);
    text-align: center;

    .person {
      width: 180px;
      display: inline-block;
      vertical-align: top;
      margin: 0 6px 32px;
      font-size: 16px;
      font-weight: 300;

      .avatar {
        width: 100%;
        border: 8px solid $light-green;
        border-radius: 50%;
        box-sizing: border-box;
      }

      .name {
        font-size: 24px;
        line-height: 24px;
        font-weight: 100;
        padding: 16px 0 8px;
        color: white;
      }
    }
  }
}

/* Tablet: */
@media screen and (min-width: 760px) {
  main.home .content {
    .intro {
      p {
        font-size: 18px;
      }
    }

    .team {
      .person {
        width: 224px;
      }
    }
  }
}

