@import 'mixins';

@import 'documents';
@import 'news';

/* Phone: */
main {
  @include limit-width;
  @include pad;

  position: relative;

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
  }

  .introduction {
    padding: 16px 24px;

    p {
      font-weight: 300;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        font-weight: 400;
      }
    }
  }
}

/* Tablet: */
@media screen and (min-width: 760px) {
  main {
    .introduction {
      p {
        font-size: 18px;
      }
    }
  }
}
