main {
  padding: 16px 0 24px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  a > img:first-child:last-child {
    border: 2px solid;
  }

  strong {
    color: black;
    font-weight: 600;
  }

  ul {
    &:not(.browser-default) {
      padding-left: 40px;

      > li { 
        list-style-type: square;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .author {
    .text {
      width: 100%;
    }

    img {
      width: 72px;
      height: 72px;
      margin-left: 8px;
    }

    em {
      font-style: initial;
    }
  }

  .buttons {
    font-family: 'Roboto', 'Raleway', 'Verdana', 'Arial', sans-serif;

    a,
    button {
      margin-right: 8px;
      margin-bottom: 16px;
      line-height: 38px;
    }

    i {
      line-height: 36px;
    }
  }
}
