main.map {
  .container {
    max-width: 1280px;
    padding: 0;
  }

  .content {
    a {
      font-weight: inherit;
    }

    .title {
      display: block;
      text-align: center;
      font-size: 48px;
      background-color: transparent;

      .designation {
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', Roboto, sans-serif;
        font-weight: 300;
        font-size: 24px;
      }
    }

    td.sup {
      padding-top: 0;
    }

    .source {
      margin-top: 48px;
      padding: 0 0 24px;
      background-color: white;

      &:last-child {
        margin-bottom: 48px;
      }

      .chip {
        position: relative;
        height: 48px;
        top: -24px;
        left: 24px;
        margin-bottom: -8px;

        .counter,
        .source-id {
          height: 48px;
          border-radius: 48px;
          font-size: 24px;
          color: white;
          font-family: 'Roboto Slab', serif;
          line-height: 48px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .counter {
          z-index: 1;
          font-weight: 700;
          background-color: material-color('deep-purple', '500');
          width: 48px;
          text-align: center;
        }

        .source-id {
          z-index: 0;
          padding: 0 24px 0 56px;
          font-weight: 300;
          background-color: material-color('deep-purple', '400');
        }
      }

      .ribbon {
        color: white;
        background-color: material-color('deep-purple', '500');
        display: inline-block;
        padding: 8px 12px;
        margin: 0 0 16px -8px;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        position: relative;

        a {
          color: inherit;
          text-decoration: none;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 36px;
          left: 0;
          border-width: 4px;
          border-style: solid;
          border-color: material-color('deep-purple', '900');
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
      }

      p {
        margin: 0 24px 16px;
        color: material-color('grey', '800');

        em {
          color: black;
          font-style: inherit;
        }
      }

      table {
        margin: 0 24px;
        width: calc(100% - 48px);
        font-size: 14px;

        tr {
          td:first-child {
            width: 0.01%;
            vertical-align: top;
            color: material-color('grey', '800');
          }

          td:last-child {
            white-space: initial;
          }
        }
      }

      .gis {
        margin: 16px 0;

        .heading {
          color: white;
          margin: 0 0 8px 24px;

          .text {
            display: inline-block;
            background-color: material-color('deep-purple', '500');
            padding: 8px 12px;
            font-family: 'Roboto Slab', serif;
            font-size: 16px;
            text-transform: uppercase;

            i {
              line-height: 0;
              position: relative;
              top: 6px;
              left: -2px;
            }
          }
        }
      }

      .buttons {
        padding: 0 8px;

        a {
          line-height: 48px;
          margin-right: 8px;
        }
      }
    }
  }

  /** 760px+ **/
  @media screen and (min-width: 760px) {
    main.map .content {
      p,
      ul,
      table {
        font-size: 16px;
      }
    }
  }

  /* Google Maps: */
  #map {
    height: 360px;

    /* Custom controls: */
    ul.toggle {
      margin: 13px 0;
      padding: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 11px;
      font-weight: 500;
      user-select: none;

      li {
        display: inline;
        list-style: none;
        margin-right: 10px;
        padding: 8px;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        background-color: white;
        cursor: pointer;

        transition: opacity 0.25s ease-out;

        &:hover {
          background-color: #ebebeb;
        }

        &.active {
          color: white;
          background-color: material-color('purple', '500');
        }
      }
    }
  }

  /* Google Place photos: */
  #photos {
    padding: 2px;
    background: white;
    display: flex;

    .photo {
      display: inline-block;
      background-position: center;
      background-size: cover;
      border: 2px solid white;

      position: relative;

      .full-size {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
      }

      .attr {
        position: absolute;
        bottom: 0; left: 0; right: 0;

        padding: 8px;
        background: rgba(0, 0, 0, 0.5);
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
