$grey: #9e9e9e;
$grey-50: #fafafa;
$grey-600: #757575;
$blue-grey: #607d8b;

$card-distance: 26px;


/* Phone, Tablet & Desktop: */
.news {
  position: relative;

  &::after,
  &::before {
    width: 0;
    content: "";
    display: block;
    border-right: 4px solid $grey;
    position: absolute;
    left: -2px;
  }

  &::before {
    top: 168px;
    bottom: 0;
  }

  &::after {
    border-right-style: dotted;
    position: absolute;
    top: 72px;
    height: 88px;
    z-index: 0;
  }

  .title {}

  .card {
    box-sizing: border-box;
    clear: both;
    float: right;
    padding-left: $card-distance;
    position: relative;

    /* !Desktop: */
    width: 100%;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: $grey-600;
      border: 4px solid $grey-50;
      border-radius: 50%;
      z-index: 1;
      position: absolute;
      top: 87px;
      left: -9px;
    }

    .mdl-card {
      width: 100%;
      overflow: visible;

      &::after,
      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background-color: inherit;
        transform: rotate(45deg);
        left: -12px;
      }


      &::after {
        top: 84px;
      }

      &::before {
        top: 86px;
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(2px);
      }

      .mdl-card__title {
        height: 128px;
        z-index: 1;
      }

      .mdl-card__supporting-text {
        color: rgba(0, 0, 0, 0.75);
        background: rgba(255, 255, 255, 0.20);
        box-sizing: border-box;
        width: 100%;
      }
    }

    + .card {
      margin-top: 24px;
    }
  }

  .year {
    clear: both;
    font-size: 24px;
    left: 24px;
    position: relative;
    top: 24px;
    z-index: 1;

    &::before {
      background: $grey-600;
      border-radius: 50%;
      border: 4px solid $grey-50;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      width: 10px;
      z-index: 1;

      /* !Desktop: */
      left: -33px;
      top: 19px;
    }

    &::after {
      border: 12px solid transparent;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      z-index: 0;

      /* !Desktop: */
      border-color: transparent;
      border-right-color: $blue-grey;
      top: 16px;
      left: -24px;
    }

    div {
      border-radius: 2px;
      display: inline-block;
      padding: 4px 16px;
    }
  }
}

/* Desktop: */
@media screen and (min-width: 1024px) {
  .news {
    position: relative;

    &::after,
    &::before {
      width: 50%;
    }

    .card {
      width: 50%;
      min-height: 220px;

      &:nth-child(odd) {
        float: left;
        padding-left: 0;
        padding-right: $card-distance;
        &::before {
          right: -9px;
          left: initial;
        }
        .mdl-card {
          &::after,
          &::before {
            right: -12px;
            left: initial;
          }
        }
      }

      + .card {
        margin-top: -96px;
      }
    }

    .year {
      left: initial;
      text-align: center;

      &::before {
        left: calc(50% - 9px);
        top: -32px;
      }

      &::after {
        border-color: $grey-50;
        border-bottom-color: $blue-grey;
        top: -24px;
        left: calc(50% - 12px);
      }
    }
  }
}
