.projects {
  .card {
    .card-image {
      .image {
        height: 200px;
      }
    }

    .card-title {
      color: white;
      text-shadow: 0 0 2px black;

      height: 176px;
      background-position: center 75%;
      background-size: cover;
    }

    .card-content {
      width: 100%;
      box-sizing: border-box;
    }

    .card-action {
      text-transform: uppercase;

      i {
        padding: 0 8px;
      }

      time {
        white-space: nowrap;
      }
    }

    + .card {
      margin-top: 24px;
    }
  }
}
