.project-cards {
  .mdl-card {
    width: 100%;

    .mdl-card__title {
      color: white;
      text-shadow: 0 0 2px black;

      height: 176px;
      background-position: center 75%;
      background-size: cover;
    }

    .mdl-card__actions {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      text-transform: uppercase;

      i {
        padding: 0 8px;
      }

      time {
        white-space: nowrap;
      }
    }
    + .mdl-card {
      margin-top: 24px;
    }
  }
}
