.sidenav {
  .top {
    color: white;
    height: 104px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background-image: url('/logo/svg/solid.svg');
      background-size: 200%;
      background-position: 25% 55%;
      filter: grayscale(1) brightness(0.5);
      transform: rotate(15deg) scale(1.75);
      transform-origin: center;
    }

    a {
      position: relative;
    }
    .logo {
      width: 50px;
      height: 50px;
      padding: 6px 0 0 6px;
    }
    .page-title {
      position: absolute;
      top: 0; left: 100%;
      font-size: 22px;
      line-height: 56px;
      white-space: nowrap;
      transition: 150ms all ease-in;
    }
    ul.i18n {
      position: relative;
      text-transform: uppercase;
      height: 48px;
      bottom: 12px;

      li {
        display: block;
        line-height: 48px;
        float: left;

        i {
          line-height: 32px;
          padding: 8px 0 0 12px;
        }
        span {
          display: inline-block;
          line-height: 32px;
          padding: 0 8px;
          margin: 0 8px 0 -4px;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.75);
          color: black;
        }
        a {
          color: inherit;
          padding: 0 16px;
        }
      }
    }
  }
}

.sidenav-on .top .page-title {
  left: 56px;
}

.sidenav-trigger.float {
  color: white;
  position: absolute;
  top: 16px;
  left: 18px;
  width: 48px;
  height: 48px;
  z-index: 1;
}

@media only screen and (min-width: 601px) {
  .sidenav .top {
    height: 112px;

    .logo {
      width: 56px;
      height: 56px;
    }
    .page-title {
      font-size: 24px;
      line-height: 64px;
    }
  }
  .sidenav-on .top .page-title {
    left: 64px;
  }
  .sidenav-trigger.float {
    top: 20px;
  }
}
