/* Classes that are applied throughout the site. */

@import 'mixins';

.color--light-green {
  background-color: $light-green;
}

.content-block {
  margin: 0 -24px;
  padding: 16px 24px;

  strong {
    font-weight: 400;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p,
  ol,
  ul,
  table {
    font-size: 16px;
    font-weight: 300;
  }

  ul li {
    list-style-type: square;
  }
}

.more-link {
  + p {
    margin-top: 8px;
    text-align: right;

    a {
      color: material-color('green', '900');
      text-transform: lowercase;

      &::after {
        content: "…";
      }
    }
  }
}
