body {
  font-family: 'Raleway', 'Verdana', 'Arial', sans-serif;
}

main {
  ul,
  ul:not(.browser-default) {
    padding-left: 24px;

    > li { 
      list-style-type: square;
    }
  }
}

.content-block {
  margin: 0 -24px;
  padding: 16px 24px;

  strong {
    font-weight: 400;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p,
  ol,
  ul,
  table {
    font-size: 16px;
    font-weight: 300;
  }

  ul li {
    list-style-type: square;
  }
}

.more-link {
  + p {
    margin-top: 8px;
    text-align: right;

    a {
      text-transform: lowercase;

      &::after {
        content: "…";
      }
    }
  }
}
