$nav-height: 56px;
$nav-height-wide: 64px;
$tab-height: 48px;

nav {
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;

  &.title {
    transition: 0.2s background-color cubic-bezier(0.4, 0, 0.2, 1), 0.1s box-shadow cubic-bezier(0.4, 0, 0.2, 1);

    .nav-content {
      opacity: 1;
      transition: 0.5s opacity cubic-bezier(0.4, 0, 0.2, 1);
    }

    .language-switcher {
      text-transform: uppercase;

      &.disabled,
      &:not(:hover) {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &.navbar-tabs {
    height: $tab-height;
    position: absolute;
    top: $nav-height;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .brand-logo {
    font-size: 22px;
    white-space: nowrap;
    transition: 200ms opacity ease-in;
  }
}

.navbar-fixed {
  height: 0 !important;
}

.navbar-tabs {
  .tabs {
    margin-left: -24px;

    li.active {
      border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    }
  }
}

body:not(.top) {
  nav.title {
    height: $nav-height !important;
    background-color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 2.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

    .nav-content {
      opacity: 0;
    }
  }
}

#languages.dropdown-content {
  text-transform: uppercase;
}

.sidenav-on .brand-logo {
  opacity: 0;
  left: -100vw;
  transition: 500ms all ease-in;
}

@media only screen and (min-width: 601px) {
  nav {
    .brand-logo {
      font-size: 24px;
    }
  }

  body:not(.top) nav.title {
    height: $nav-height-wide !important;
  }

  nav.navbar-tabs {
    top: $nav-height-wide;
  }
}

@media only screen and (max-width: 992px) {
  nav.navbar-tabs .tabs {
    margin-left: initial;
  }
}
