.gardens {
  /* Section: Initiative */
  .stats {
    padding: 0 32px 8px;
    margin: 16px -32px;
    font-family: Roboto;

    .fact {
      display: flex;
      margin-top: 16px;
      min-width: 144px;

      i {
        width: 64px;
        height: 64px;
        font-size: 32px;
        padding: 16px;
        border-radius: 100%;
        background: white;
        margin-right: 8px;
      }

      strong {
        font-size: 32px;
        white-space: nowrap;

        + div {
          position: relative;
          top: -8px;
        }
      }
    }
  }

  .row:not(.stats) .col:first-child {
    padding-left: 0;
  }

  .video-col {
    max-width: 480px;
  }

  .video {
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 8px;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  /* Section: Our Gardens */
  .cards {
    margin: 0 -8px -16px;
  }
  .garden-card {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0 16px;
    width: 100%;

    .picture,
    .picture img {
      display: block;
      width: 100%;
      height: 320px;
      min-width: 256px;
      transition: opacity 0.25s ease-out;
      object-fit: cover;
    }

    .picture:hover {
      opacity: .8;
    }

    .organiser {
      height: 32px;
      margin-top: -32px;

      div {
        display: inline-block;
        line-height: 24px;
        padding: 4px 8px;
        text-transform: uppercase;
        background: orange;
      }

      strong {
        color: white;
      }
    }

    .text {
      padding: 8px;
    }

    .project-name {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Section: Allocation of Funds */
  .schools-vs-preschools .legend {
    li:nth-child(1)::before {
      background-color: #673ab7;
      border-color: #320b86;
    }

    li:nth-child(2)::before {
      background-color: #ff7043;
      border-color: #c63f17;
    }
  }

  .table {
    margin: 0 -8px;
    overflow-x: auto;

    table {
      border-bottom: 4px solid white;
      max-width: calc(100% - 2px);
    }

    tr {
      &.school {
        &:nth-child(odd) td {
          background-color: #ede7f6;
        }

        &:nth-child(even) td {
          background-color: #d1c4e9;
        }
      }

      &.preschool {
        &:nth-child(odd) td {
          background-color: #fbe9e7;
        }

        &:nth-child(even) td {
          background-color: #ffccbc;
        }
      }
      &:last-child td {
        border-bottom: none;
      }
    }

    th, td {
      border-radius: 0;
    }

    th {
      padding: 8px 4px;
      border-bottom: 4px solid white;
      background-color: #eee;
      width: 1%;

      &:first-child {
        width: 100%;
      }
    }

    td {
      border-bottom: 2px solid white;

      + td {
        border-left: 2px solid white;
        white-space: nowrap;
      }

      &:first-child {
        white-space: initial;
      }

      &.year {
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;
        background-color: #eee !important;

        span {
          writing-mode: vertical-lr;
          text-align: right;
        }
      }
    }

    tr:not(:first-child) .year {
      border-top: 2px solid white;
    }
  }
}

@media (min-width: 601px) {
  .gardens {
    .garden-card {
      width: calc(50% - 8px);

      &:nth-child(odd) {
        margin-right: 12px;
      }
    }
  }
}

@media (min-width: 993px) {
  .gardens {
    .video {
      margin-top: 15px;
    }

    .schools-vs-preschools {
      flex-direction: row;
    }
  }
}
