.garden {
  /* Section: Header */
  /* TODO: Add back the map.
  .top-map {
    margin: -16px -24px;
    max-width: none;
  }
   */

  /* Section: Scheduled Activities */
  #calendar {
    height: 336px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: -24px;

    .google-visualization-tooltip {
      border: none;
      box-shadow: none;
      background: #283142;
      border-radius: 0;
      color: #eceff1;
      font-size: 14px;

      .tooltip {
        padding: 4px 8px;

        strong {
          color: inherit;
        }

        em {
          font-style: inherit;
        }
      }
    }

    .google-visualization-tooltip-item-list {
      display: none;
    }

    + * + h4 {
      margin-top: 0;
    }
  }

  /* Section: Activity Log */
  .timeline {
    border-left: 2px solid #087f23;
    margin-left: 16px;
    margin-bottom: 24px;
    padding-bottom: 16px;

    &::after {
      content: "";
      display: block;
      border: 4px solid #087f23;
      border-left-color: transparent;
      border-top-color: transparent;
      position: absolute;
      bottom: 36px;
      left: 37px;
      transform: scaleY(2) rotate(45deg);
    }

    .year {
      display: inline-block;
      position: relative;
      top: -4px;

      strong {
        display: block;
        position: relative;
        left: -50%;
        background: #4caf50;
        border: 2px solid #087f23;
        box-shadow: 0 2px 0 white;
        padding: 8px 16px;
      }
    }

    > p > strong:first-child:last-child {
      display: inline-block;
      position: relative;
      left: -2px;
      padding: 4px 8px;

      background: white;
      border: 2px solid #087f23;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        width: 10px;
        height: 10px;
        background: white;
        border: 2px solid #087f23;
        border-top: none;
        border-right: none;
        transform: rotate(45deg);
        left: -7px;
        top: 9px;
      }

      &::after {
        width: 12px;
        height: 12px;
        background: white;
        border: 2px solid #087f23;
        border-radius: 50%;
        box-shadow: 0 0 0 2px white;
        left: -27px;
        top: 8px;
      }
    }

    > p,
    > ul {
      padding-left: 20px;
    }

    > ul > li {
      list-style-type: none;
    }

    em {
      color: #666;
    }
  }
}
