.home {
  background-color: initial;

  .title {
    display: block;
    margin: 0 auto;
    height: 96px;
    white-space: nowrap;

    > * {
      position: relative;
    }

    span {
      top: -144px;
    }

    img {
      top: -64px;
      width: 192px;
      height: 192px;
      background: white;
    }
  }

  h4 {
    color: white;
    background: #424242;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 24px;
  }

  .intro {
    font-size: 16px;
    padding: 16px 24px;
    background: white;
    position: relative;

    clip-path: polygon(0 16px, 100% 0, calc(100% - 16px) 100%, 16px calc(100% - 16px));
  }

  .learn-more,
  .all-projects {
    color: white;
    background: #ffab40;

    padding: 8px 16px;
    display: inline-block;
    font-size: 16px;
  }

  .learn-more {
    position: relative;
    float: right;
    margin-right: 48px;
    margin-top: -36px;
  }

  .all-projects {
    margin-left: 48px;
  }

  .team {
    margin: 0 -24px;
    text-align: center;

    .person {
      max-width: 232px;
      display: inline-block;
      vertical-align: top;
      margin: 0 6px 32px;
      font-size: 16px;
      font-weight: 300;
      float: none;
    }

    .avatar {
      width: 100%;
      border: 4px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
    }

    .name {
      font-size: 24px;
      line-height: 24px;
      font-weight: 100;
      padding: 16px 0 8px;
      color: white;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home {
    .title {
      height: auto;
      font-size: 36px;
      margin: 144px auto 0;

      span {
        top: auto;
      }

      img {
        position: absolute;
        top: 128px;
        left: calc(50% - 96px);
      }
    }

    .team {
      .person {
        max-width: 180px;
      }
    }
  }
}
