.projects {
  .card-image {
    height: 250px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
    text-shadow: 0 0 2px black;
    padding-left: 20px !important;

    .highlight {
      background: rgba(0, 0, 0, 0.5);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      -webkit-box-decoration-break: clone;
      -moz-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  .card-action {
    font-size: 16px;
    white-space: nowrap;

    i {
      padding-right: 8px;
    }

    .details {
      line-height: 32px;
      margin-right: 8px !important;
      text-decoration: none;

      font-family: 'Roboto', 'Raleway', 'Verdana', 'Arial', sans-serif;
    }

    .spacer {
      flex: 1;
    }
  }

  .card + .card {
    margin-top: 24px;
  }

  + .pagination {
    padding-left: 0;
    margin: 24px 0 0;
  }
}
