<div class="stats card row orange">
  <div class="fact col s6 l3">
    <i class="material-icons">school</i>
    <div class="vertical">
      <strong>15</strong>
      <div>škola</div>
    </div>
  </div>

  <div class="fact col s6 l3">
    <i class="material-icons">child_care</i>
    <div class="vertical">
      <strong>9</strong>
      <div>vrtića</div>
    </div>
  </div>

  <div class="fact col s12 l6">
    <i class="material-icons">account_balance</i>
    <div class="vertical">
      <strong>1.383.069,50 din</strong>
      <div>ukupan budžet</div>
    </div>
  </div>
</div>
