<div class="row">
  <div class="garden-card card">
    <a href="/baste/jovina-organska-basta/" class="picture">
      <picture>
        <source
          type="image/webp"
          srcset="/images/gardens/jovina-organska-basta.256.webp, /images/gardens/jovina-organska-basta.512.webp 2x">
        <img 
          src="/images/gardens/jovina-organska-basta.256.jpg" 
          srcset="/images/gardens/jovina-organska-basta.256.jpg, /images/gardens/jovina-organska-basta.512.jpg 2x"
          alt="Jovina organska bašta">
      </picture>
    </a>
    <div class="text">
      <a href="/baste/jovina-organska-basta/" class="project-name">Jovina organska bašta</a>
      <div class="grey-text text-darken-2">
        <span>OŠ „Jovan Popović”</span>
        <span>Kikinda</span>
      </div>
    </div>
  </div>
</div>
