<div class="row">
  {% for garden in page.gardens %}
    <div class="garden-card card">
      <a href="/baste/{{ garden.id }}/" class="picture">
        <picture>
          <source
            type="image/webp"
            srcset="/images/gardens/{{ garden.id }}.256.webp, /images/gardens/{{ garden.id }}.512.webp 2x">
          <img 
            src="/images/gardens/{{ garden.id }}.256.jpg" 
            srcset="/images/gardens/{{ garden.id }}.256.jpg, /images/gardens/{{ garden.id }}.512.jpg 2x"
            alt="{{ garden.name }}">
        </picture>
      </a>
      <div class="text">
        <a href="/baste/{{ garden.id }}/" class="project-name">{{ garden.name }}</a>
        <div class="grey-text text-darken-2">
          <span>{{ garden.school }}</span>
          <span>{{ garden.location }}</span>
        </div>
      </div>
    </div>
{% endfor %}
</div>
