{%- assign has_map = true -%}
{%- assign desig = include.item.tip | slugify: latin | replace: '-', '_' -%}
{%- assign desig = site_data.designations[desig] -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">BioRaS</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="http://www.bioras.petnica.rs">BIOloška RAznovrsnost Srbije</a>
  </div>

  <p class="description">
    Izvod iz baze podataka „<em>BIOloška RAznovrsnost Srbije</em>“ Istraživačke stanice „Petnica“.
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">BioRaS ID:</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="http://extra.bioras.petnica.rs/index.php?-table=zdobra&-action=browse&-recordid=zdobra%3FID%3D{{ include.item.ID }}">{{ include.item.ID }}</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Kategorija:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ desig }}</td>
      </tr>
      {% unless include.item.ha == "0" and include.item.ar == "0"  and include.item.m2 == "0" %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Upisana površina:</td>
          <td class="mdl-data-table__cell--non-numeric">
            {% unless include.item.ha == "0" %}{{ include.item.ha }} ha{% endunless %}
            {% unless include.item.ar == "0" %}{{ include.item.ar }} ar{% endunless %}
            {% unless include.item.m2 == "0" %}{{ include.item.m2 }} m²{% endunless %}
          </td>
        </tr>
      {% endunless %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          {% if include.item.opstina contains ',' %}
            Opštine:
          {% else %}
            Opština:
          {% endif %}
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.opstina }}</td>
      </tr>
      {% if include.item.ekoloska_mreza %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Ekološka mreža:</td>
          <td class="mdl-data-table__cell--non-numeric">{{ include.item.ekoloska_mreza }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
