{%- assign has_map = true -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">ZZPS</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="https://www.zzps.rs">Zavod za zaštitu prirode Srbije</a>
  </div>

  <p class="description">
    Izvod iz baze podataka „<em>Zaštićena prirodna dobra / Spomenik prirode – stabla</em>” Zavoda za zaštitu prirode Srbije,
    geoSrbija sloj „<em>Zaštićena područja / Zaštićena dobra (stabla)</em>”.
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Tip i opis dobra:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.tip_dobra }} ({{ site_data.protected_sites[include.item.tip_dobra] | downcase }})</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Godina upisa:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.god }}</td>
      </tr>
    </tbody>
  </table>

  <div class="gis">
    <div class="heading">
      <div class="text"><i class="material-icons">map</i> GIS podaci</div>
    </div>

    <p>
      Preuzmi:
      <a href="/{{ page_id }}/1.182.json">GeoJSON</a>,
      <a href="/{{ page_id }}/1.182.kml">KML</a>,
      <a href="/{{ page_id }}/1.182.wkt">WKT</a>.
      <br>

      {% if page.geoSrbija.L1_182.size == 1 %}
        WKT<sup>*</sup> izvorni fajl:

        {% assign id = page.geoSrbija.L1_182 | first %}
        <a href="/{{ page_id }}/1.182.{{ id }}.wkt">1.182.{{ id }}.wkt</a>.
      {% else %}
        WKT<sup>*</sup> izvorni fajlovi:

        {% assign first = true %}
        {% for id in page.geoSrbija.L1_182 %}
          {%- unless first %}, {% endunless -%}
          <a href="/{{ page_id }}/1.182.{{ id }}.wkt">1.182.{{ id }}.wkt</a>
          {%- assign first = false %}
        {%- endfor -%}.
      {% endif %}
      <br>

      <sup>*</sup>WKT fajlovi su u <a href="https://en.wikipedia.org/wiki/European_Terrestrial_Reference_System_1989">SRB_ETRS89</a> prostornom referentnom sistemu, po
      <a href="http://www.rgz.gov.rs/content/Datoteke/Dokumenta/02%20Pravilnici/Pravilnik%20za%20osnovne%20geodetske%20radove%20-%2016.03.2012.pdf">pravilniku</a>
      Republičkog geodetskog zavoda.
    </p>
  </div>
</div>
