{%- assign has_map = true -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">ZZPS</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="https://www.zzps.rs">Zavod za zaštitu prirode Srbije</a>
  </div>

  <p class="description">
    Izvod iz baze podataka „<em>Zaštićena prirodna dobra / Granice područja</em>” Zavoda za zaštitu prirode Srbije,
    geoSrbija sloj „<em>Zaštićena područja / Zaštićena dobra (granice)</em>”.
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Tip i opis dobra:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.tip_dobra }} ({{ site_data.protected_sites[include.item.tip_dobra] | downcase }})</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Godina upisa:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.god }}</td>
      </tr>
    </tbody>
  </table>

  <div class="gis">
    <div class="heading">
      <div class="text"><i class="material-icons">map</i> GIS podaci</div>
    </div>

    <p>
      {% if page.geoSrbija.L1_183.size == 1 %}
        WKT<sup>1</sup> izvorni fajl:

        {% assign id = page.geoSrbija.L1_183 | first %}
        <a href="/{{ page_id }}/1.183.{{ id }}.wkt">1.183.{{ id }}.wkt</a>
      {% else %}
        WKT<sup>1</sup> izvorni fajlovi:

        {% assign first = true %}
        {% for id in page.geoSrbija.L1_183 %}
          {%- unless first %}, {% endunless -%}
          <a href="/{{ page_id }}/1.183.{{ id }}.wkt">1.183.{{ id }}.wkt</a>
          {%- assign has_wkt = true  %}
          {%- assign first = false %}
        {%- endfor -%}
      {% endif %}
    </p>
  </div>

  <div class="buttons">
    <a href="/{{ page_id }}/1.183.json"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      GeoJSON
    </button></a>
    <a href="/{{ page_id }}/1.183.kml"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      KML
    </button></a>
    <a href="/{{ page_id }}/1.183.wkt"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      WKT
    </button></a>
  </div>
</div>
