{%- assign has_map = true -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">PZZP</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="http://www.pzzp.rs">Pokrajinski zavod za zaštitu prirode</a>
  </div>

  <p class="description">
    Izvod iz baze podataka „<em>Spomenik prirode – stabla na teritoriji AP Vojvodine</em>” Pokrajinskog zavoda za zaštitu prirode,
    geoSrbija sloj „<em>Zaštićena područja AP Vojvodine / Zaštićena dobra (stabla)</em>”.
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      {% if include.pzzp %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">PZZP ID:</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="http://www.pzzp.rs/rs/sr/zastita-prirode/ekoloska-mreza.html">{{ include.pzzp.ID }}</a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Tip i opis dobra:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.tip_dobra }} ({{ site_data.protected_sites[include.item.tip_dobra] | downcase }})</td>
      </tr>
      {% if include.pzzp %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Upisana površina:</td>
          <td class="mdl-data-table__cell--non-numeric">{{ include.pzzp.povrsina_ha }} ha</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="gis">
    <div class="heading">
      <div class="text"><i class="material-icons">map</i> GIS podaci</div>
    </div>

    <p>
      {% if page.geoSrbija.L1_300.size == 1 %}
        WKT<sup>1</sup> izvorni fajl:

        {% assign id = page.geoSrbija.L1_300 | first %}
        <a href="/{{ page_id }}/1.300.{{ id }}.wkt">1.300.{{ id }}.wkt</a>
      {% else %}
        WKT<sup>1</sup> izvorni fajlovi:

        {% assign first = true %}
        {% for id in page.geoSrbija.L1_300 %}
          {%- unless first %}, {% endunless -%}
          <a href="/{{ page_id }}/1.300.{{ id }}.wkt">1.300.{{ id }}.wkt</a>
          {%- assign has_wkt = true  %}
          {%- assign first = false %}
        {%- endfor -%}
      {% endif %}
    </p>
  </div>

  <div class="buttons">
    <a href="/{{ page_id }}/1.300.json"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      GeoJSON
    </button></a>
    <a href="/{{ page_id }}/1.300.kml"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      KML
    </button></a>
    <a href="/{{ page_id }}/1.300.wkt"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">save_alt</i>
      WKT
    </button></a>
  </div>
</div>
