{%- assign has_map = true -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">PZZP</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="http://www.pzzp.rs">Pokrajinski zavod za zaštitu prirode</a>
  </div>

  <p class="description">
    Izvod iz baze podataka „<em>Granice područja zaštićenih prirodnih dobara u postupku zaštite na teritoriji AP Vojvodine</em>” Pokrajinskog zavoda za zaštitu prirode,
    geoSrbija sloj „<em>Zaštićena područja AP Vojvodine / Planirane granice zaštićenih dobara</em>”.
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      {% if include.pzzp %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">PZZP ID:</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="http://www.pzzp.rs/rs/sr/zastita-prirode/ekoloska-mreza.html">{{ include.pzzp.ID }}</a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Tip i opis dobra:</td>
        <td class="mdl-data-table__cell--non-numeric">{{ include.item.tip_dobra }} ({{ site_data.protected_sites[include.item.tip_dobra] | downcase }})</td>
      </tr>
      {% if include.pzzp %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Upisana površina:</td>
          <td class="mdl-data-table__cell--non-numeric">{{ include.pzzp.povrsina_ha }} ha</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="gis">
    <div class="heading">
      <div class="text"><i class="material-icons">map</i> GIS podaci</div>
    </div>

    <p>
      Preuzmi:
      <a href="/{{ page_id }}/1.301.json">GeoJSON</a>,
      <a href="/{{ page_id }}/1.301.kml">KML</a>,
      <a href="/{{ page_id }}/1.301.wkt">WKT</a>.
      <br>

      {% if page.geoSrbija.L1_301.size == 1 %}
        WKT<sup>*</sup> izvorni fajl:

        {% assign id = page.geoSrbija.L1_301 | first %}
        <a href="/{{ page_id }}/1.301.{{ id }}.wkt">1.301.{{ id }}.wkt</a>.
      {% else %}
        WKT<sup>*</sup> izvorni fajlovi:

        {% assign first = true %}
        {% for id in page.geoSrbija.L1_301 %}
          {%- unless first %}, {% endunless -%}
          <a href="/{{ page_id }}/1.301.{{ id }}.wkt">1.301.{{ id }}.wkt</a>
          {%- assign first = false %}
        {%- endfor -%}.
      {% endif %}
      <br>

      <sup>*</sup>WKT fajlovi su u <a href="https://en.wikipedia.org/wiki/European_Terrestrial_Reference_System_1989">SRB_ETRS89</a> prostornom referentnom sistemu, po
      <a href="http://www.rgz.gov.rs/content/Datoteke/Dokumenta/02%20Pravilnici/Pravilnik%20za%20osnovne%20geodetske%20radove%20-%2016.03.2012.pdf">pravilniku</a>
      Republičkog geodetskog zavoda.
    </p>
  </div>
</div>
