{%- assign has_map = true -%}

<div class="source mdl-shadow--2dp">
  <div class="chip">
    {%- assign records = records | plus: 1 -%}
    <div id="zapis-{{ records }}" class="counter">{{ records }}</div>
    <div class="source-id">RSIS</div>
  </div>

  <div class="mdl-shadow--2dp ribbon">
    <a href="https://www.ramsar.org/">Ramsarska konvencija o zaštiti močvara</a>
  </div>

  <p class="description">
    Izvod iz baze podataka <em>Informacione službe Ramsarske konvencije</em> (Ramsar Sites Information Service).
  </p>

  <table class="mdl-data-table mdl-js-data-table">
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">WDPA ID:</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="https://www.protectedplanet.net/{{ include.item.WDPAID }}">{{ include.item.WDPAID }}</a></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">RSIS broj:</td>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="https://rsis.ramsar.org/ris/{{ include.rsis.ID }}">{{ include.rsis.ID }}</a>; izvor:
          <a href="https://www.ramsar.org/{{ include.rsis.path }}">ramsar.org/{{ include.rsis.path }}</a>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Kategorija:</td>
        <td class="mdl-data-table__cell--non-numeric">Močvara međunarodne važnosti</td>
      </tr>
      {% unless include.item.IUCN_CAT == "Not Reported" or include.item.IUCN_CAT == "Not Assigned" %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">IUCN kategorija:</td>
          <td class="mdl-data-table__cell--non-numeric">{{ include.item.IUCN_CAT }} ({{ site_data.iucn_cat[include.item.IUCN_CAT] | downcase }})</td>
        </tr>
      {% endunless %}
      {% unless include.item.REP_AREA == "0" %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Upisana površina:</td>
          <td class="mdl-data-table__cell--non-numeric">{{ include.item.REP_AREA }} km²</td>
        </tr>
      {% endunless %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Datum upisa:</td>
        <td class="mdl-data-table__cell--non-numeric">
          {% assign designation_date = include.rsis.designation_date | split: '-' %}
          {{ designation_date[2] }}.{{ designation_date[1] }}.{{ designation_date[0] }}.
        </td>
      </tr>
    </tbody>
  </table>

  <div class="gis">
    <div class="heading">
      <div class="text"><i class="material-icons">map</i> GIS podaci</div>
    </div>

    <p>
      KML izvorni fajl:
      <a href="/{{ page_id }}/{{ include.item.WDPAID }}.kml">{{ include.item.WDPAID }}.kml</a>
    </p>
  </div>
</div>
