<h2>
  {%- assign records = records | plus: 1 -%}
  <span id="zapis-{{ records }}" class="marker">Zapis {{ records }}</span>
  <span class="record">{{ include.item.DESIG }}</span>
</h2>
<p class="source">
  Izvor:
  <a href="https://www.protectedplanet.net/{{ include.item.WDPAID }}">WDPA / Svetska baza zaštićenih područja</a>.
  Preuzmi:
  <a href="#" download="{{ page_id }}.wdpa.json" class="json">JSON</a>,
  <a href="#" download="{{ page_id }}.wdpa.csv" class="csv">CSV</a>.
  <code class="source" style="display: none;">{{ include.item | jsonify }}</code>
</p>

<table>
  <tbody>
    <tr>
      <td>WDPA ID:</td>
      <td><a href="https://www.protectedplanet.net/{{ include.item.WDPAID }}">{{ include.item.WDPAID }}</a></td>
    </tr>
    <tr>
      <td>Kategorija:</td>
      <td>{{ include.item.DESIG }}</td>
    </tr>
    {% unless include.item.IUCN_CAT == "Not Applicable" or include.item.IUCN_CAT == "Not Reported" or include.item.IUCN_CAT == "Not Assigned" %}
      <tr>
        <td>IUCN kategorija:</td>
        <td>{{ include.item.IUCN_CAT }} ({{ site_data.iucn_cat[include.item.IUCN_CAT] | downcase }})</td>
      </tr>
    {% endunless %}
    {% unless include.item.REP_AREA == "0" %}
      <tr>
        <td>Upisana površina:</td>
        <td>{{ include.item.REP_AREA }} km²</td>
      </tr>
    {% endunless %}
    <tr>
      <td>Godina upisa:</td>
      <td>{{ include.item.STATUS_YR }}</td>
    </tr>
  </tbody>
</table>
