<div class="stats card row orange">
  <div class="fact col s6 l3">
    <i class="material-icons">school</i>
    <div class="vertical">
      <strong>{{ school_garden_ids.size }}</strong>
      <div>{{ include.schools | default: "schools" }}</div>
    </div>
  </div>

  <div class="fact col s6 l3">
    <i class="material-icons">child_care</i>
    <div class="vertical">
      <strong>{{ preschool_garden_ids.size }}</strong>
      <div>{{ include.preschools | default: "kindergartens" }}</div>
    </div>
  </div>

  <div class="fact col s12 l6">
    <i class="material-icons">account_balance</i>
    <div class="vertical">
      <strong>{{ total_budget }} din</strong>
      <div>{{ include.total_budget | default: "total budget" }}</div>
    </div>
  </div>
</div>
