body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1016px; /* 1080p - 2×32px */
  min-width: 480px;
}

/* Header */
header {
  padding: 48px 0;
  text-align: center;
}
header h1 {
  font-size: 92px;
}
header h1 img {
  position: relative;
  top: -8px;
}
header h1 span {
  border-top: thin solid #00897B;
  border-bottom: thin solid #00897B;
}

/* Main content  */
.page {
  min-height: 320px;
}

/* Footer  */
footer .social a {
  display: block;
  margin-right: 8px;
  float: left;
}
footer .mission {
  /* TODO: Make this responsive! */
  /* Tweak the width so that we have no more than five lines of text: */
  width: calc(50% + 24px);
  float: left;
  margin-top: 16px;

}
footer .mission .logo {
  float: left;
  width: 144px;
  height: 144px;
  margin-top: -4px;
  padding-right: 8px;
}
footer .mission p {
  padding: 8px 16px;
}
footer .contact {
  /* TODO: Make this responsive! */
  width: 25%;
  float: right !important;
}
footer .contact li {
  line-height: 24px;
}
@media screen and (min-width: 760px) {
  footer .copyright {
    margin-left: -12px;
    margin-right: 4px !important;
  }
}
