{%- include vars.html -%}
<!doctype html>
<html lang="{{ language }}">
{% include head.html %}
<body class="grey darken-2 top">
  {% unless page.layout == "home" %}
    <div class="navbar-fixed">
      <nav role="banner" class="title z-depth-0">
        <div class="image" style="background-image: url('/images/cover/{{ page.cover_image }}.jpg'); background-position-y: {{ page.cover_position | default: "center" }}"></div>
        <div class="nav-wrapper">
          <div class="container">
            <a href="{{ root }}" class="brand-logo">{{ site_data.name }}</a>
          </div>
          <a href="#" data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a id="i18n" class="dropdown-trigger language-switcher{% unless page.translations %} disabled{% endunless %}" href="#!" data-target="languages">
                <i class="material-icons left">language</i>
                {{- language -}}
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
          <ul id="languages" class="dropdown-content">
            {% for tr in page.translations %}
              <li><a href="{% unless tr[0] == site.data.i18n.languages[0] %}/{{ tr[0] }}{% endunless %}{{ tr[1] }}">{{ tr[0] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    <nav role="navigation" class="navbar-tabs z-depth-0">
      <div class="container">
        <ul class="tabs tabs-transparent">
          {%- for link in site_data.links %}
            {% assign link_path = site_data.prefix | append: link.href %}
            <li class="tab{% if page.url == link_path %} active{% endif %}"><a{% if page.url == link_path %} class="active"{% endif %} href="{{ site.url }}{{ link_path }}">{{ link.text }}</a></li>
          {%- endfor %}
        </ul>
      </div>
    </nav>
  {% endunless %}

  {{ content }}

  {% include footer.html %}
</body>
</html>
