---
layout: page
---
{%- include vars.html -%}

{%- assign page_id = page.path | remove: '/index.md' | split: '/' | last -%}
{%- assign google_cloud_api_key = site.data.dev_apis.google_cloud_api_key | default: site.data.apis.google_cloud_api_key -%}

{%- assign has_map = false -%}
{%- assign has_wkt = false -%}
{%- assign records = 0 -%}

<div class="map">
  <div id="map" style="visibility: hidden;"></div>

  <div class="sources">

{% if page.geoSrbija.L1_183 %}
  {% assign id_s = page.geoSrbija.L1_183 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_183 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_183.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_182 %}
  {% assign id_s = page.geoSrbija.L1_182 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_182 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_182.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_302 %}
  {% assign id_s = page.geoSrbija.L1_302 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_302 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_302.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_301 %}
  {% assign id_s = page.geoSrbija.L1_301 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_301 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_301.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_300 %}
  {% assign id_s = page.geoSrbija.L1_300 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_300 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_300.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_299 %}
  {% assign id_s = page.geoSrbija.L1_299 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_299 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_299.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.geoSrbija.L1_362 %}
  {% assign id_s = page.geoSrbija.L1_362 | first | downcase %}

  {% for row in site.data.maps.geoSrbija.L1_362 %}
    {% if row.ID == id_s %}
      {% include map/gs_1_362.html item=row %}
    {% endif %}
  {% endfor %}
{% endif %}

{% for id in page.WDPA %}
  {% assign id_s = id | downcase %}

  {% for row in site.data.maps.WDPA %}
    {% if row.WDPAID == id_s %}
      {%- assign rsis = null -%}

      {% for item in site.data.maps.RSIS %}
        {% if item.WDPAID == row.WDPAID %}
          {% assign rsis = item %}
        {% endif %}
      {% endfor %}

      {% if rsis %}
        {% include map/rasmar.html item=row rsis=rsis %}
      {% else %}
        {% include map/wdpa.html item=row %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for id in page.BioRaS %}
  {% assign id_s = id | downcase %}

  {% for row in site.data.maps.BioRaS %}
    {% if row.ID == id_s %}
      {% include map/bioras.html item=row %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if has_wkt %}
  <hr>
  <p class="footnotes">
    <sup>1</sup>
    WKT fajlovi su u <a href="https://en.wikipedia.org/wiki/European_Terrestrial_Reference_System_1989">SRB_ETRS89</a> prostornom referentnom sistemu, po
    <a href="http://www.rgz.gov.rs/content/Datoteke/Dokumenta/02%20Pravilnici/Pravilnik%20za%20osnovne%20geodetske%20radove%20-%2016.03.2012.pdf">pravilniku</a>
    Republičkog geodetskog zavoda.
  </p>
{% endif %}

  </div>
</div>


{% if has_map %}
  <link rel="prefetch" href="/{{ page_id }}/map.json">
  <script>
  'use strict';

  window.isMapLoaded = false;
  function mapLoaded() {
	window.isMapLoaded = true;
  }
  </script>
  <script async defer src="/js/maps.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_cloud_api_key }}&region=RS&language={{ language }}&callback=mapLoaded"></script>
{% endif %}
