body {
  font-family: 'Roboto', 'Arial', sans-serif;
}
@media screen and (max-width: 760px) {
  #wrap {
    overflow-x: hidden;
  }
}

.container {
  margin: 0 auto;
  max-width: 1016px; /* 1080p - 2×32px */
}

/* Main content  */
.page {
  min-height: 320px;
}

@import 'header';
@import 'footer';
